:root {
  --primary-text-color: #212121;
  --background-color: #2f303a;
  --accent-color: #2196f3;
  --second-text-color: #f5f4fa;
  --third-text-color: #757575;
}

body {
  color: var(--primary-text-color);
  list-style: none;
  font-family: Roboto, serif;
  letter-spacing: 0.03em;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  padding: 24px 0;
}

.logo {
  display: block;
  margin-right: 93px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 700;
  font-family: Raleway, serif;
  font-size: 26px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-main {
  display: flex;
}

.navigation-logo {
  color: var(--accent-color);
}

.navigation-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);
}

.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.active {
  color: var(--accent-color);
}

.contacts .navigation-link {
  color: var(--third-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.line {
  border: 1px solid #ececec;
}

.main-title {
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
}

.button {
  font-family: Roboto, serif;
  font-weight: 700;
  line-height: 1.87;
  background-color: var(--accent-color);
  border: inherit;
  border-radius: 2px;
  color: var(--second-text-color);
  cursor: pointer;
  padding: 10px 32px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  padding: 94px 0;
}

.peculiarities {
  display: flex;
}

.main-section {
  display: block;
  text-align: center;
  background-color: var(--background-color);
  color: var(--second-text-color);
  padding: 200px 0;
}

.peculiarities .item {
  margin-right: 30px;
  max-width: 400px;
  width: 270px;
}

.peculiarities .item:last-child {
  margin-right: 0;
}

.section-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.section-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--third-text-color);
}

.section-doings {
}

.section-doings .container {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.section-heading {
  font-size: 36px;
  margin-bottom: 50px;
}

.section-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.section-doings ul {
  display: flex;
}

.section-doings-item {
  margin-right: 30px;
}

.section-doings-item:last-child {
  margin-right: 0;
}

.section-team-list {
  display: flex;
}

.section-team .container {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.section-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}

.section-team-item:last-child {
  margin-right: 0px;
}

.section-name,
.section-position {
  text-align: center;
}

.worker {
  padding: 30px 0;
}

.section-position {
  font-size: 16px;
  color: var(--third-text-color);
}

.footer {
  background-color: var(--background-color);
  padding: 60px 0;
}

.footer .container {
  flex-direction: column;
}

.address {
  font-style: normal;
}

.address p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 9px;
}

ul .address-item:first-child {
  margin-bottom: 9px;
}

.footer-logo {
  line-height: 31px;
  margin-bottom: 20px;
}

.footer-logo,
.address p {
  color: var(--second-text-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hidden-title {
  visibility: hidden;
}

.portfolio-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works .container {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.potfolio-navigation-item {
  margin-left: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}
.portfolio-button:focus,
.portfolio-button:hover {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  cursor: pointer;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects li {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.projects li:nth-child(3n) {
  margin-right: 0;
}

.projects li:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  color: var(--third-text-color);
  font-size: 16px;
  line-height: 1.88;
}
