:root {
  --primary-text-color: #212121;
  --background-color: #2f303a;
  --accent-color: #2196f3;
  --second-text-color: #f5f4fa;
  --third-text-color: #757575;
}

body {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  list-style: none;
  font-family: Roboto, serif;
  letter-spacing: 0.03em;
  width: 1600px;
  margin: 0 auto;
}

ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  display: flex;
  padding: 32px 0;
}

.logo {
  display: block;
  margin-right: 93px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 700;
  font-family: Raleway, serif;
  font-size: 26px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-main {
  display: flex;
}

.navigation-logo {
  color: var(--accent-color);
}

.navigation-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);
}

.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.active {
  color: var(--accent-color);
}

.contacts .navigation-link {
  color: var(--third-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.line {
  border: 1px solid #ececec;
}

.main-title {
  font-size: 44px;
}

.button {
  font-family: Roboto, serif;
  font-weight: 700;
  background-color: var(--accent-color);
  border: inherit;
  border-radius: 2px;
  color: var(--second-text-color);
  cursor: pointer;
  padding: 10px 32px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  padding: 94px 0;
}

.peculiarities {
  display: flex;
}

.main-section {
  display: block;
  text-align: center;
  background-color: var(--background-color);
  color: var(--second-text-color);
  padding: 200px;
}

.peculiarities .item {
  margin-right: 30px;
  max-width: 400px;
}

.peculiarities .item:last-child {
  margin-right: 0;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;

  font-size: 14px;
}

.section-description {
  font-size: 14px;
  font-weight: 400;
  color: var(--third-text-color);
}

.section-heading {
  text-align: center;
  font-size: 36px;
}

.section-name {
  font-size: 16px;
  font-weight: 500;
}

.section-doings ul {
  display: flex;
}

.section-doings-item {
  margin-right: 30px;
}

.section-doings-item:last-child {
  margin-right: 0;
}

.section-team-list {
  display: flex;
}

.section-team-item {
  margin-right: 30px;
}

.section-team-item:last-child {
  margin-right: 0px;
}

.section-position {
  font-size: 16px;
  color: var(--third-text-color);
}

.footer {
  background-color: var(--background-color);
  padding: 60px 0;
}

.address {
  font-style: normal;
}

.address p {
  font-size: 14px;
  font-weight: 400;
}

.footer-logo {
  line-height: 31px;
}

.footer-logo,
.address p {
  color: var(--second-text-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hidden-title {
  visibility: hidden;
}

.portfolio-navigation {
  display: flex;
  justify-content: center;
}

.potfolio-navigation-item {
  margin-left: 52px;
}

.portfolio-button {
  padding: 6px 22px;
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}
.portfolio-button:focus,
.portfolio-button:hover {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  cursor: pointer;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects li {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.projects li:nth-child(3n) {
  margin-right: 0;
}

.projects li:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio-title {
  padding-left: 24px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.portfolio-description {
  padding-left: 24px;
  margin-bottom: 20px;
  color: var(--third-text-color);
}
